<html>
<head>
    <title>Contact Created</title>
</head>
<body>
    <h1>You created a new contact!</h1>
    <!-- {% if newcontact is not empty%} -->
    <h3>{{ newcontact.getName }}</h3>
    <h3>{{ newcontact.getPhone }}</h3>
    <h3>{{ newcontact.getAddress }}</h3>
    <!-- {% endif %} -->
    <h4><a href="/">View all of your contacts.</a></h4>
</body>
</html>
